rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /DEVICE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /OUTLET/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /OUTLET/{parent}/INVOICE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/INVOICE/{document} {
      allow read: if true;
    }


    match /BUSINESS_TYPE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /BUSINESSS_MASTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /USER_PROFILE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /UNIT_TYPE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /CATEGORY_MASTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /PRODUCT_MASTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /SERVICE_POINT/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /TAX_MASTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /SUB_CATEGORY/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /LANGUAGE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /PAYMENT_MODE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /USER_ROLL_TYPE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /SUBSCRIPTION/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /OUTLET/{parent}/APP_SETTINGS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/APP_SETTINGS/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PRINT_SETTINGS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PRINT_SETTINGS/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PAYMENT/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PAYMENT/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PARTY/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PARTY/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/SHIFT/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/SHIFT/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/CATEGORY/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/CATEGORY/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PRODUCT/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PRODUCT/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/RECIPE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/RECIPE/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PREMISES/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PREMISES/{document} {
      allow read: if true;
    }


    match /COMPANY_DETAILS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /COMPANY_DETAILS/{parent}/ABOUT_US/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/ABOUT_US/{document} {
      allow read: if true;
    }


    match /COMPANY_DETAILS/{parent}/CONTACT_US/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/CONTACT_US/{document} {
      allow read: if true;
    }


    match /COMPANY_DETAILS/{parent}/TERMS_AND_CONDITIONS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/TERMS_AND_CONDITIONS/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/SERVICE_POINT_OUTLET/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/SERVICE_POINT_OUTLET/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/HEADER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/HEADER/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/PURCHASE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/PURCHASE/{document} {
      allow read: if true;
    }


    match /USER_ROLE_TYPE/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /ONLINE_ORDERS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /shrikantProduct/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /COMPANY_DETAILS/{parent}/Cancellation_Refund_Policy/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Cancellation_Refund_Policy/{document} {
      allow read: if true;
    }


    match /COMPANY_DETAILS/{parent}/Shipping_Delivery_Policy/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Shipping_Delivery_Policy/{document} {
      allow read: if true;
    }


    match /COMPANY_DETAILS/{parent}/Privacy_Policy/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Privacy_Policy/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/ADVERTISEMENT/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/ADVERTISEMENT/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/FOOTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/FOOTER/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/QR_TRANSACTIONS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/QR_TRANSACTIONS/{document} {
      allow read: if true;
    }


    match /APP_SETTINGS_MASTER/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /OUTLET/{parent}/STOCK_SUMMARY/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/STOCK_SUMMARY/{document} {
      allow read: if true;
    }


    match /OUTLET/{parent}/MONTHLY_PASS/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/MONTHLY_PASS/{document} {
      allow read: if true;
    }

  }
}
